.autocomplete
  input.sidebar-search(type='text' placeholder='Filter by topic title' autocomplete='off')
ul.sidebar-articles
  li.sidebar-category
    details.expando.details
      summary
        .sidebar-category-name
          a(href='/pages/short-guides.html') Short guides on a variety of topics
          .collapse-toggle
      ul
        li.sidebar-topic
          a(href='/pages/short-guides/guides-for-visual-studio.html') Guides for Visual Studio
          ul
            li.sidebar-subtopic
              a(href='/pages/short-guides/adding-components-to-an-existing-visual-studio-installation.html') Adding components to an existing Visual Studio Installation
            li.sidebar-subtopic
              a(href='/pages/short-guides/setting-up-a-windows-forms-application-gui-cpp-cli.html') Setting up a Windows Forms application GUI in C++/CLI
      ul
        li.sidebar-topic
          a(href='/pages/short-guides/installing-and-setting-up-wsl2-on-windows.html') Installing and setting up WSL 2 on Windows
  li.sidebar-category
    details.expando.details
      summary
        .sidebar-category-name
          a(href='/pages/troubleshooting-runtime-errors.html') Troubleshooting runtime errors
          .collapse-toggle
      ul
        li.sidebar-topic
          a(href='/pages/troubleshooting-runtime-errors/regsvr32-failure-with-error-code-0x80070005.html') RegSvr32 failure with error code 0x80070005
        li.sidebar-topic
          a(href='/pages/troubleshooting-runtime-errors/program-failure-to-start-with-error-0xc000007b.html') Program failure to start with error 0xc000007b
