doctype html
html
  head
    meta(http-equiv='content-type' content='text/html;charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Category #2 - VFU Solutions
    link(rel='stylesheet' href='/static/css/style.css')
  body
    // BEGIN SIDEBAR
    .sidebar.scrollbars
      include /includes/nav.pug
    // END SIDEBAR
    main(hidden='')
      article
        .breadcrumb-container
          ul.breadcrumb
            li #[a(href='/index.html') VFU Support]
            li #[a(href='#') Aliquam tincidunt]
            li #[a(href='#') Working with repositories]
        .brief-intro
          h1 Working with repositories #[span.readingTime]
          p Sem integer vitae justo eget magna. Sollicitudin tempor id eu nisl nunc mi ipsum. Mauris vitae ultricies leo integer malesuada. Blandit turpis cursus in hac. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend.
        .main-body
          .sidebar-topic-toc
            h2#toc Table of Contents
            ol
      // BEGIN ARTICLE TOC
      .article-toc-container
        .article-toc
      // END ARTICLE TOC
    script(src='/static/js/app.js')
    script.
      genSidebarCategoryToc()
