doctype html
html(lang='en')
  head
    - var docTitle = 'Short guides on a variety of topics'
    title #{docTitle} - VFU Support
    include /includes/head.pug
  body
    // BEGIN SIDEBAR
    .sidebar.scrollbars
      include /includes/nav.pug
    // END SIDEBAR
    main
      article
        .breadcrumb-container
          ul.breadcrumb
            li #[a(href='/index.html') VFU Support]
            li #[a(href='/pages/short-guides.html') #{docTitle}]
        .brief-intro
          h1 #{docTitle}
          p Guides that are short, simple, and cover a variety of topics ranging from software, programming practices to web design.
        .main-body
          .sidebar-topic-toc
            h2#toc Table of Contents
            ol
      // BEGIN ARTICLE TOC
      include /includes/toc.pug
      // END ARTICLE TOC
    script(src='/static/js/app.js')
    script.
      genSidebarCategoryToc()
