doctype html
html(lang='en')
  head
    - var docTitle = 'Troubleshooting runtime errors'
    title #{docTitle} - VFU Support
    include /includes/head.pug
  body
    // BEGIN SIDEBAR
    .sidebar.scrollbars
      include /includes/nav.pug
    // END SIDEBAR
    main
      article
        .breadcrumb-container
          ul.breadcrumb
            li #[a(href='/vfu-support/index.html') VFU Support]
            li #[a(href='/vfu-support/pages/troubleshooting-runtime-errors.html') #{docTitle}]
        .brief-intro
          h1 #{docTitle}
          p Potential causes and fixes for errors occurring while a program is running and something unexpected happens.
        .main-body
          .sidebar-topic-toc
            h2#toc Table of Contents
            ol
      // BEGIN ARTICLE TOC
      include /includes/toc.pug
      // END ARTICLE TOC
    script(src='/vfu-support/static/js/app.js')
    script.
      genSidebarCategoryToc()
