doctype html
html(lang='en')
  head
    - var docTitle = 'Adding components to an existing Visual Studio Installation'
    title #{docTitle} - VFU Support
    include /includes/head.pug
  body
    // BEGIN SIDEBAR
    .sidebar.scrollbars
      include /includes/nav.pug
    // END SIDEBAR
    main
      article
        .breadcrumb-container
          ul.breadcrumb
            li #[a(href='/vfu-support/index.html') VFU Support]
            li #[a(href='/vfu-support/pages/short-guides.html') Short guides on a variety of topics]
            li #[a(href='/vfu-support/pages/short-guides/guides-for-visual-studio.html') Guides for Visual Studio]
            li #[a(href='/vfu-support/pages/short-guides/adding-components-to-an-existing-visual-studio-installation.html') #{docTitle}]
        .brief-intro
          h1 #{docTitle} #[span.readingTime]
          p Straightforward guide on adding and configuring workload or individual components for an existing Visual Studio installation.
        .main-body
          .attention-box.info
            p #[strong Notes to bear in mind:]
            ul
              li This guide applies to Visual Studio 2019 only. It may or may not be compatible with earlier versions of the installer.
              li A Windows user account with administrator permissions will be required in order to modify the Visual Studio installation.
        
          h2#setting-up-the-project Launch the installer
          ol
            li Open the Windows Start menu and search for Visual Studio Installer by typing #[code vs_installer]. If that does not return a result, you can also find the executable in its installation directory at #[code C:\Program Files (x86)\Microsoft Visual Studio\Installer\] and launch it.
              .attention-box.warning
                p #[strong Before proceeding further:] If the installer prompts you to update it, it is best to do so before applying any modification to the installation.
            li In the installer, look for the Visual Studio edition you have installed and, from the #[i More] dropdown button, choose #[strong Modify]. 
              img(onmouseover='handleImageHover(this)' src='/vfu-support/static/images/short-guides/visual-studio/vs_installer_01.png')

          h2#modify-workloads Modify workloads, individual components, and language packs
          p The installer has a tabbed interface that offers the ability to make three types of installation modifications: #[strong workloads], #[strong individual components], and #[strong language packs].
          img(onmouseover='handleImageHover(this)' src='/vfu-support/static/images/short-guides/visual-studio/vs_installer_02.png')
          h3#workloads Workloads
          p Workloads are simply a bundle of components that work together to provide a specific feature. For example, selecting the #[i Linux development with C++] workload would install the core C++ features along with extra components specifically targeting the Linux environment.
          
          h3#individual-components Individual components
          p Individual components &mdash;as the name suggests&mdash; allow you to explicitly select only the components that you want to install, giving you the maximum control over the installation. However, keep in mind that some features may not work if prerequisite components are not also selected for installation.

          h3#language-packs Language packs
          p By default, Visual Studio is only installed in the language of the operating system. However you may install additional language packs through the installer. Visual Studio 2019 is offered in the following languages:
          ul.col-3
            li Chinese (Simplified)
            li Chinese (Traditional)
            li Czech
            li English
            li German
            li Italian
            li Japanese
            li Korean
            li Polish
            li Portugese (Brazil)
            li Russian
            li Spanish
            li Turkish
          
          h3#apply-modifications Apply modifications
          p Modifications can be applied in one of two methods: parallel mode where downloading and installing occurs at the same time, or by downloading first then installing. The latter is designed to work best if the Internet connection is slow.
          img(src='/vfu-support/static/images/short-guides/visual-studio/vs_installer_03.png')
          p Once you have completed selecting the components that you want to install, you will need to apply the them by pressing the #[strong Modify] button on the bottom-right corner of the user interface.

      // BEGIN ARTICLE TOC
      include /includes/toc.pug
      // END ARTICLE TOC
    script(src='/vfu-support/static/js/app.js')
  