doctype html
html(lang='en')
  head
    - var docTitle = 'RegSvr32 failure with error code 0x80070005'
    title #{docTitle} - VFU Support
    include /includes/head.pug
  body
    // BEGIN SIDEBAR
    .sidebar.scrollbars
      include /includes/nav.pug
    // END SIDEBAR
    main
      article
        .breadcrumb-container
          ul.breadcrumb
            li #[a(href='/index.html') VFU Support]
            li #[a(href='/pages/troubleshooting-runtime-errors.html') Troubleshooting runtime errors]
            li #[a(href='/pages/troubleshooting-runtime-errors/regsvr32-failure-with-error-code-0x80070005.html') #{docTitle}]
        .brief-intro
          h1 #{docTitle} #[span.readingTime]
          p Runtime error thrown by RegSvr32 while attempting to register or unregister an ActiveX control (OCX) or a dynamic-link library (DLL).
        .main-body
          h2#background-on-regsvr32 Background on RegSvr32
          p RegSvr32, also known as #[i Register Server], is a command-line utility that resides in #[code %windir%\System32\] for the 64-bit version and #[code %windir%\SysWoW64\] for the 32-bit version. The utility is typically used for registering or unregistering OLE/COM components in Windows Registry.
          p This utility can be either used manually through Command Prompt or PowerShell, or automatically run through a third-party program or script that internally calls it to perform a task.

          h2#symptoms Symptoms
          p The most common symptom occurs when you manually attempt to register or unregister a COM component through a CLI command such as:
          pre.cmd #[span.ch-kw3 regsvr32] file.dll
          P And the utility outputs a runtime error with code #[strong 0x80070005].
          img(onmouseover='handleImageHover(this)' src='/static/images/troubleshooting-runtime-errors/regsvr32_fail_to_register.png')

          h2#cause Cause
          p The cause of the error is insufficient access privileges to use the utility for registration or unregistration. RegSvr32 internally calls two operating system functions defined in #[code olectl.h]:
          pre.
            #[span.ch-kw2 HRESULT] DllRegisterServer();
            #[span.ch-kw2 HRESULT] DllUnregisterServer();
          p These two functions essentially add or remove the CLSID of the object to be registered or unregistered in Windows Registry at #[code HKCR\CLSID\], and that operation requires sufficient writing privileges in order to modify Registry entries.

          h2#resolution Resolution
          p The utility must run with elevated permissions in order to successfully write to the Registry.
          p If you are running the utility manually through a console interface, make sure you run the host as administrator; otherwise, ensure that the program executing the utility is running as administrator.  

      // BEGIN ARTICLE TOC
      include /includes/toc.pug
      // END ARTICLE TOC
    script(src='/static/js/app.js')
  