doctype html
head
  meta(http-equiv='content-type' content='text/html;charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Category 2, Topic 1 - VFU Solutions
  link(rel='stylesheet' href='/static/css/style.css')
// BEGIN SIDEBAR
.sidebar.scrollbars
  include /includes/nav.pug
// END SIDEBAR

script(src='/static/js/app.js')