doctype html
html(lang='en')
  head
    title Home - VFU Support
    include /includes/head.pug
  body
    // BEGIN SIDEBAR
    .sidebar.scrollbars
      include /includes/nav.pug
    // END SIDEBAR
    main
      article
        .breadcrumb-container
          ul.breadcrumb
            li #[a(href='/vfu-support/index.html') VFU Support]
        .brief-intro
          h1 VFU Support
          p Guides and help documents covering a wide selection of topics that are aimed at both developers and regular computer users alike.
        .main-body
          .sidebar-topic-toc
            h2#toc Table of Contents
            ol
      // BEGIN ARTICLE TOC
      include /includes/toc.pug
      // END ARTICLE TOC
    script(src='/vfu-support/static/js/app.js')
    script.
      expandSidebarCategory(0);
      genSidebarCategoryToc(true);
